@charset "UTF-8";

* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #f7f7f7;
  display: grid;
  gap: 60px;
  justify-items: center;
  margin-top: 60px;
}

p {
  font-size: 20px;
  line-height: 1.4;
}

img {
  max-width: 100%;
  display: block;
}

.header {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.header a {
  background: #fff;
  padding: 10px 20px;
  color: #000;
}

a {
  text-decoration: none;
}

.conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1000px;
}

.introducao {
  background: #fff;
  padding: 40px;
  text-align: right;
  position: relative;
  display: grid;
  gap: 20px;
  align-content: center;
  justify-items: center;
}

.botao {
  background: #ee2211;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
}

.subtitulo {
  font-size: 64px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.2);
  text-align: right;
  padding: 40px;
  align-self: center;
}

h2 {
  font-size: 64px;
  text-align: right;
  padding: 40px;
  align-self: center;
  color: #c6c6c6;
}

.vantagens {
  background: #fff;
  padding: 40px;
}

.vantagens-item {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px 20px;
  padding: 20px;
}

.vantagens-item p {
  grid-column: 2;
}

footer {
  background: #fff;
}
